@main("联系我们"){
<div class="main-grid main-body-grid">
    <div class="grid-left">
    </div>
    <div class="grid-right">
        <div class="container">
            <div class="row">
                <div col="col-lg-4">
                    <img class="diagram" src="/assets/images/contactUs/contactUs.jpg" alt="联系我们"></p>
                </div>
                <div class="col-lg-4">
                    <h4>联系我们</h4>

                    <h3>
                        <ul>
                            <li><a href="mailto:barryzhong@@gmail.com">barryzhong@@gmail.com</a></li>
                            <li><a href="mailto:hailinglu@@gmail.com">hailinglu@@gmail.com</a></li>
                        </ul>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
}