@guide_base("简单状态机示例"){
<h3>简单状态机示例</h3>
<p>假定我们需要维护我们的客户信息来进行生产活动，有以下需求：</p>
<ol>
    <li>新增客户处于原始状态，等待被激活。</li>
    <li>公司审核通过该客户的信用后，管理员激活该客户，客户处于激活状态，公司可以与之进行业务活动。</li>
    <li>若客户未在规定时间内缴纳欠款，管理员挂起该客户，该客户处于挂起状态，公司无法继续与之进行任何业务活动。</li>
    <li>若客户补齐欠款，管理员可再激活该客户。</li>
    <li>当客户处于激活状态时，若预知客户无力付清已发生交易的货款，比如该客户即将破产，则应立即取消该客户，停止与该客户的一切活动，减少损失。</li>
</ol>
<p>根据需求，我们绘制了客户的状态图，如下所示：</p>
<img class="diagram" src="/assets/images/guide/Customer_FSM.png" width="40%" height="40%" alt="Customer FSM"></p>

<p>下面我们按照步骤来讲解如何使用Lifecycle框架来创建一个简单的状态机。</p>

<h4>步骤 1: 创建状态机元数据</h4>
<ul>
    <li><i>步骤 1.0 克隆工程</i></li>
    <p>请在您机器上选择一个工作目录，打开命令行，切换到该工作目录下，运行下列指令：<br>
        <pre class="prettyprint">
git clone https://github.com/TracyLu/LifecycleDevGuide.git
cd LifecycleDevGuide
git checkout simple-fsm-step-1.0
</pre>
    上面的命令将从远程克隆工程到本地，并且重置你的工作空间到例子的步骤0。使用IDEA打开该工程。</br>
    在后面的每个步骤中，您可以在LifecycleDevGuide目录下运行命令来查看每个步骤的代码:</br>
    <pre class="prettyprint">git checkout simple-fsm-step-步骤编号</pre>
    这个命令将导致你之前做的修改都丢失。
    </p>
    <li><i>步骤 1.1 创建状态机接口</i></li>
    <p>
        我们已经在net.imadz.guide.lifecycle包中为您创建了CustomerLifecycleMeta接口，请在该接口类上添加@@StateMachine标注，代码如下：<br>
        <pre class="prettyprint">
@@StateMachine
public interface CustomerLifecycleMeta {

}
        </pre>
    你可以执行下面的命令来查看本步骤的代码。
    <pre class="prettyprint">git checkout simple-fsm-step-1.1</pre>
    </p>

    <li><i>步骤 1.2 添加状态集合</i></li>
    接下来我们在CustomerLifecycleMeta接口中，添加内部接口States，来定义Customer所有的状态。
    <pre class="prettyprint">
@@StateSet
static interface States {

}
    </pre>
    <p>我们采用@@StateSet来标注该接口定义的是状态机的状态集合。接下来，我们把各个状态定义到States中。</p>
    <ol>
        <li>添加初始状态</li>
        <p>我们在States中添加接口Draft来表示Draft状态，使用@@Initial来表示该状态为初始状态。代码如下：</p>
        <pre class="prettyprint">
@@Initial
static interface Draft {}
        </pre>
        <li>添加终结状态</li>
        <p>然后，我们在States中添加终结状态。我们用接口Cancelled来表示Cancelled状态，使用@@Final来表示该状态为终结状态。代码如下：</p>
        <pre class="prettyprint">
@@Final
static interface Cancelled {}
        </pre>
        <li>添加中间状态</li>
        <p>最后，我们还剩下Active和Suspended两个中间状态需要描述。中间状态的描述比较简单，只需要添加相应的接口即可。代码如下：</p>
        <pre class="prettyprint">
static interface Active {}
static interface Suspended {}
        </pre>
    </ol>
    <li><i>步骤 1.3 添加事件集</i></li>
    <p>状态定义先告一段落，接下来我们需要定义使得业务对象从一个状态迁移到另一个状态的事件集合。</br>
        我们在CustomerLifecycleMeta中定义Events接口，在接口Events上添加@@EventSet注释来表示该接口定义的是事件集合。代码如下：
    </p>
    <pre class="prettyprint">
@@EventSet
static interface Events {}
   </pre>
    <p>我们在定义的Events中添加各个事件。我们有4个事件需要定义，它们分别是：Activate、Suspend、Resume、Cancel。<br>
        事件的定义非常简单，只需要使用接口来表示即可。代码如下：
    </p>
    <pre class="prettyprint">
static interface Activate {}

static interface Suspend {}

static interface Resume {}

static interface Cancel {}
    </pre>
    <li><i>步骤 1.4 在非终结状态上添加转移</i></li>
    <p>转移指的是业务对象在某个事件的触发下，从一个状态迁移到另一个状态。所以转移包括三部分：当前状态、当前状态下可响应的事件、下一个状态。<br>
        我们通过在非终结状态上添加如下注释，达到了刻画转移的目的。Draft状态下的转移定义代码如下：
    </p>
    <pre class="prettyprint">
@@Initial
@@Transition(event = Events.Activate.class, value = Active.class)
static interface Draft {}
    </pre>
    <p>上面的代码表示Customer在Draft状态下时，管理员激活(Activate)该顾客，该顾客迁移到了活跃(Active)状态。
        <br>
        @@Transition注释包含两个属性: event指的是Customer处于Draft状态时，可响应的Activate事件，value指的是Customer响应该事件后，迁移到了Active状态。<br>
        上述代码刻画了单一转移如何定义，下面我们来演示一下单状态上的多个转移如何定义。<br></p>
<pre class="prettyprint">
@@Transitions({@@Transition(event = Events.Suspend.class, value = Suspended.class), @@Transition(event = Events.Cancel.class, value = Cancelled.class)})
static interface Active {}
</pre>
    <p>通过@@Transitions我们可以定义多个转移。</p>

    <p>最后，我们还剩下Suspend的转移等待定义。它只有一个转移，所以类似于Draft状态，代码如下：</p>
    <pre class="prettyprint">
@@Transition(event = Events.Resume.class, value = Active.class)
static interface Suspended {}
    </pre>
</ul>

<h4>步骤2：定义POJO类</h4>
<ul>
    <li><i>步骤 2.1 创建Customer类并为其指定状态机元数据</i></li>
    <p>我们在net.imadz.guide.impl包中定义了Customer类。我们要做的就是将CustomerLifecycle和Customer关联起来。<br>
        我们只需要在Customer类上添加@@LifecycleMeta注释(Annotation)，代码如下：</p>
            <pre class="prettyprint">
@@LifecycleMeta(value = CustomerLifecycleMeta.class)
public class Customer {

}
            </pre>
    <li><i>步骤 2.2 添加状态标识</i></li>
    <p>我们需要定义一个状态标识，好让Lifecycle引擎知道如何设置状态。我们有两种设置状态标识的方式：一种是在field上，一种是在属性上。<br>
        我们先使用@@StateIndicator在field标注状态，并提供状态的getter方法。代码如下：</p>
            <pre class="prettyprint">
@@StateIndicator
private String state = null;

public String getState() {
    return state;
}
            </pre>
    <li><i>步骤 2.3 初始化新建Customer的状态</i></li>
    <p>这一步比较简单，这需要提供一个构造方法，然后初始化state。代码如下：</p>
            <pre class="prettyprint">
public Customer() {
    state = CustomerLifecycleMeta.States.Draft.class.getSimpleName();
}
            </pre>

    <li><i>步骤 2.4 定义所有事件对应的方法</i></li>
    <p>我们有4个事件，所以需要定义4个方法。我们需要将事件和方法通过@@Event注释(Annotation)绑定起来。方法的取名有两种方式：<br>
    <ol>
        <li>跟事件名称同名，但首字母变小写，这种方式的好处是@@Event注释可以使用默认值；</li>
        <li>可取任意的名称，需要在@@Event注释中填写对应的事件类。</li>
    </ol>
    这里，我们选用第一种方式，代码如下：</p>
            <pre class="prettyprint">
@@Event
public void activate(){}

@@Event
public void suspend(){}

@@Event
public void resume(){}

@@Event
public void cancel(){}
            </pre>
</ul>
<h4>步骤3：添加并执行测试用例</h4>
<p>在test目录下的net.imadz.guide.impl包中，有一个CustomerTest类，添加以下代码便可在命令行执行mvn clean test。
</p>
<pre class="prettyprint">
@@Test
public void should_support_legal_requests() {
    Customer customer = new Customer();
    customer.activate();
    assertEquals(CustomerLifecycleMeta.States.Active.class.getSimpleName(), customer.getState());
    customer.suspend();
    assertEquals(CustomerLifecycleMeta.States.Suspended.class.getSimpleName(), customer.getState());
    customer.resume();
    assertEquals(CustomerLifecycleMeta.States.Active.class.getSimpleName(), customer.getState());
    customer.cancel();
    assertEquals(CustomerLifecycleMeta.States.Cancelled.class.getSimpleName(), customer.getState());
}

@@Test(expected = LifecycleException.class)
public void should_not_support_illegal_requests() {
    Customer customer = new Customer();
    customer.suspend();
}
</pre>
</ul>
}