@(title: String)(content: Html)
@main(title) {
<div class="main-grid main-body-grid">
    <div class="grid-left">
        <div class="side-navigation">
            <ul class="nav-list naked-list">
                <a href="/guide" class="nav-index-group-heading active current">开发指南</a>
                <ul class="aside-nav">
                    <li class="nav-index-listing active">
                        <a tabindex="1" href="/guide/simple">1 - 简单状态机示例</a>
                    </li>
                    <li class="nav-index-listing active">
                        <a tabindex="2" href="/guide/composite">2 - 复合状态机示例</a>
                    </li>
                    <li class="nav-index-listing active">
                        <a tabindex="3" href="/guide/relational">3 - 关系型复合状态机服务</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="grid-right">
        @content
    </div>
</div>
}
