@tutorial_base("步骤 1 - 问题定义") {
<h2>1 - 问题定义</h2>
<p>大家好，我们打算构建一个模拟自动存取款机(ATM)的应用来阐述如何在应用中使用Lifecycle组件。</p>
<p>首先，我们需要把问题定义清楚，也就是弄清楚需求。简单起见，这个应用需要满足以下需求：</p>
<ol>
    <li>在ATM未满的前提下，用户能存钱，每次存100元。</li>
    <li>在ATM未空的前提下，用户能取钱，每次取100元。</li>
    <li>当ATM中有500元时，ATM被装满，此时只能取钱，不能存钱。</li>
    <li>在ATM为空的情况下，ATM可被回收。</li>
    <li>用户在回收ATM之后，无法进行存、取操作，只能重置之后才可以。</li>
    <li>当用户点击操作按钮后，界面需要更新以下四类信息，且不刷新页面。
    <ol>
        <li>显示ATM中现金的数量和ATM的当前状态。</li>
        <li>显示ATM的操作交互历史，包括开始时间、事件名称、起始状态、目标状态、时间开销。</li>
        <li>以状态图展示状态变化。</li>
        <li>业务操作按钮状态变更,譬如在ATM为空的状态下，存钱的按钮是高亮的，且能响应用户操作，但是取钱的操作按钮是灰色的，且不能响应用户。</li>
    </ol>
    </li>
</ol>
}
