@(title: String)(content: Html)
@main(title) {
<div class="main-grid main-body-grid">
    <div class="grid-left">
        <div class="side-navigation">
            <ul class="nav-list naked-list">
                <a href="/tutorial" class="nav-index-group-heading active current">入门教程</a>
                <ul class="aside-nav">
                    <li class="nav-index-listing active">
                        <a tabindex="1" href="/tutorial/step_01">1 - 问题定义</a>
                    </li>
                    <li class="nav-index-listing active">
                        <a tabindex="2" href="/tutorial/step_02">2 - 问题分解</a>
                    </li>
                    <li class="nav-index-listing active">
                        <a tabindex="3" href="/tutorial/step_03">3 - 解决方案</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="grid-right">
        @content
    </div>
</div>
}
