@tutorial_base("步骤2 － 问题分解") {
<h2>2 - 问题分解</h2>
<p>我们采用面向事件分解的方式来分解系统需求。</p>
<p>事件包括三大类：
<ul>
    <li>
        外部事件
        <ul>
            <li>来自外部系统</li>
            <li>来自外部代理或参与者</li>
        </ul>
    </li>
    <li>
        临时事件
        <ul>
            <li>到达某个时间点发生</li>
            <li>基于系统截止时间</li>
        </ul>
    </li>
    <li>
        状态事件
        <ul>
            <li>
                系统内部触发需求
            </li>
        </ul>
    </li>
</ul>
</p>
<p>在ATM这个系统中，目前只涉及到两类：外部事件和状态事件。</p>
<p>用户交互（存钱、取钱、回收）属于外部事件，前端界面更新依赖于状态事件。</p>
<h3>事件表</h3>
<table class="table">
    <tr>
        <th>序号</th>
        <th>事件(Event)</th>
        <th>触发器(Trigger)</th>
        <th>来源(Source)</th>
        <th>用例(Use Case)</th>
        <th>响应(Response)</th>
        <th>目的地(Destination)</th>
    </tr>

    <tr>
        <td>1</td>
        <td>用户存钱</td>
        <td>存钱请求</td>
        <td>用户</td>
        <td>存钱</td>
        <td>成功／失败</td>
        <td>用户</td>
    </tr>
    <tr>
        <td>2</td>
        <td>用户取钱</td>
        <td>取钱请求</td>
        <td>用户</td>
        <td>取钱</td>
        <td>成功／失败</td>
        <td>用户</td>
    </tr>
    <tr>
        <td>3</td>
        <td>用户回收ATM</td>
        <td>回收ATM请求</td>
        <td>用户</td>
        <td>回收ATM</td>
        <td>成功／失败</td>
        <td>用户</td>
    </tr>
    <tr>
        <td>4</td>
        <td>用户重置ATM</td>
        <td>重置ATM请求</td>
        <td>用户</td>
        <td>重置ATM</td>
        <td>成功／失败</td>
        <td>用户</td>
    </tr>
    <tr>
        <td>5</td>
        <td>UI更新</td>
        <td>状态变更</td>
        <td>Lifecycle框架</td>
        <td>更新UI</td>
        <td>现金金额、系统状态、操作交互历史</td>
        <td>用户</td>
    </tr>
</table>
<h4>事件与需求对应表</h4>
<table class="table">
    <tr>
        <th>
            事件序号
        </th>
        <th>事件</th>
        <th>需求序号</th>
        <th>需求详情</th>
    </tr>
    <tr>
        <td>1</td>
        <td>用户存钱</td>
        <td>1</td>
        <td>在ATM未满的前提下，用户能存钱，每次存100元。</td>
    </tr>
    <tr>
        <td rowspan="2">2</td>
        <td rowspan="2">用户取钱</td>
        <td>2</td>
        <td>
            在ATM未空的前提下，用户能取钱，每次取100元。
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>
            当ATM中有500元时，ATM被装满，此时只能取钱，不能存钱。
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>用户回收ATM</td>
        <td>4</td>
        <td>在ATM为空的情况下，ATM可被回收。</td>
    </tr>
    <tr>
        <td>4</td>
        <td>用户重置ATM</td>
        <td>5</td>
        <td>用户在回收ATM之后，无法进行存、取操作，只能重置之后才可以。</td>
    </tr>
    <tr>
        <td>5</td>
        <td>UI更新</td>
        <td>6</td>
        <td>
            <li>当用户点击操作按钮后，界面需要更新以下四类信息，且不刷新页面。
                <ol>
                    <li>显示ATM中现金的数量和ATM的当前状态。</li>
                    <li>显示ATM的操作交互历史，包括开始时间、事件名称、起始状态、目标状态、时间开销。</li>
                    <li>以状态图展示状态变化。</li>
                    <li>业务操作按钮状态变更,譬如在ATM为空的状态下，存钱的按钮是高亮的，且能响应用户操作，但是取钱的操作按钮是灰色的，且不能响应用户。</li>
                </ol>
            </li>
        </td>
    </tr>
</table>
<p>经过上述分析，事件分解基本覆盖了第一步定义的问题需求。</p>
<p>下一步就是要识别出系统中的业务对象。</p>
<h3>识别对象</h3>
<p>简单起见，当用户打开应用时，我们为每个用户自动分配一个随机整数。
为了在用户刷新界面时，ATM的状态仍然有效，我们将用户id、金额和状态归属于ATM。
因此，我们当前抽取出一个对象：ATM。</p>
<p>ATM拥有的属性如下：</p>
<ul>
    <li>用户id</li>
    <li>现金金额</li>
    <li>状态（可取值为：空、非空、满、被回收）</li>
</ul>
根据事件表，ATM拥有的方法如下：
<ul>
    <li>存钱</li>
    <li>取钱</li>
    <li>回收</li>
</ul>

<h3>对象的生命周期设计</h3>
我们用状态图来描述对象的生命周期。
<p>ATM的状态图如下：</p>
<div><img src="../assets/images/tutorial/atm_cn.png" width="400px"></div>
<h3>使用Lifecycle Events来协调不同的对象</h3>
<p>前端与后端可以通过Ajax来完成外部事件的交互，通过WebSocket建立一个后端推送消息到前端的一个信道。</p>
<p>使用Lifecycle框架透明的生成状态变更事件。在后端通过一个Lifecycle Event的监听器来完成状态变更事件到信道的推送。</p>

}
